/* index.css */

@import 'https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap';

/* Global styles */
body {
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

button {
  margin: 0.5em;
  padding: 0.5em 1em;
  font-family: 'Sora', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5em 0;
}

input[type="text"] {
  padding: 0.5em;
  margin: 0.5em 0;
  font-family: 'Sora', sans-serif;
}

h2 {
  margin-top: 1em;
  font-family: 'Sora', sans-serif;
}

.main {
  margin: 50px 100px 100px;
  font-family: 'Sora', sans-serif;
}

.search  {
  margin: 10px 100px 10px;
}

.welcome {
  margin-bottom: 50px;
}
