/* Footer.css */

.footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer-content {
    margin: 0 auto;
  }
  